* { margin:0; padding:0; box-sizing:border-box;} 

body{
	font-family: 'Playfair Display SC', serif, 'Open Sans Condensed', sans-serif;
	font-color: #74647a;
}

h1{
	font-family: 'Playfair Display SC', serif, bold,; 
	font-color: #7d2b96;
	font-size: 1.62em;
	
}
h2{ 
	font-family: 'Playfair Display SC', normal,; 
	font-color: #74647a;
	font-size: 1.62em;
	}
p {
	font-family: 'Open Sans Condensed', sans-serif,;
	font-color: #74647a;
	font-size: 20px;
	
}