body{
	font-family: 'Playfair Display SC', serif;
}

h1{
	font-weight: bold;
	font-size: 1.62em;
}
h2{
	font-weight: lighter;
	font-size: 1.62em;
}
p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	color:;
}