* { margin:0; padding:0; box-sizing:border-box; }

#stripes {background: url(Images/stripes.png) repeat-x;
	background-position: top;
}
body { 	
	background: url(Images/background.jpg) no-repeat #525A6A;
	background-size: auto;
	background-color: #525A6A;
	font-size: 16px;
	font-family: arial, helvetica, sans-serif;
	color: white;
}
section {
	margin: 300px 0 0 200px;
}

hr{
	width: 100px;
	border: 1px solid #FD6E6E;
	}
